/* VARIABLES */
:root {
  --clr-main-dark: #002e2f;
  --clr-main-mid: #80924d;
  --clr-main-light: #87b3ab;
  --clr-bg-light: #ffffff;

  --clr-bg-digital-var1: rgb(188, 213, 213, .5);
  --clr-bg-digital-var2: rgb(91, 171, 204, .3);
  --clr-bg-sustainable-var1: rgb(190, 211, 192, .5);
  --clr-bg-sustainable-var2: rgb(184, 194, 152, .5);

  --clr-txt-body: #003d43;

  --clr-txt-digital-dark: #00475e;
  --clr-hover-digital-dark: #003040;
  --clr-txt-digital-light: #006f84;
  --clr-hover-digital-light: #014a58;
  --clr-txt-digital-lighter: #bcd5d5;

  --clr-txt-sustainable-dark: #3f836b;
  --clr-hover-sustainable-dark: #346e5a;
  --clr-txt-sustainable-light: #b8c298;
  --clr-hover-sustainable-light: #98a274;

  --margin-small: 1.5rem;
  --margin-medium: 3rem;
  --margin-large: 6rem;

  --header-height: 70px;
} 
/* GENERAL STYLES */
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  color: var(--clr-txt-body);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.page_container {
  margin-top: var(--header-height);
}
strong {
  font-weight: 600;
}
i {
  font-style: italic;
}
a {
  cursor: pointer;
}
img {
  max-width: 100%;
}
.clr_digital {
  color: var(--clr-txt-digital-light);
}
.clr_sustainable {
  color: var(--clr-txt-sustainable-light);
}
.clr_sustainable_dark {
  color: var(--clr-txt-sustainable-dark);
}
.prevent-scrolling {
  height: 100vh;
  overflow: hidden;
}
/* HEADER STYLES */
.header {
  display: flex;
  background-color: var(--clr-bg-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  z-index: 99;
  align-items: center;
  padding: 0 var(--margin-large);
}
.header > * {
  width: 100%;
  flex: 1;
}
.site_title {
  visibility: hidden;
}
.logo_section {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(.7);
}
.logo_section.animated {
  transform-origin: center;
  transform: 
    translateY(40vh)
    scale(1);
  animation: logo-move-up .8s ease-in 1.5s normal forwards;
}
@keyframes logo-move-up {
  100% {
    transform: 
    translateY(0)
    scale(.7);
  }
}
.logo_section > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.logo_section--iso {
  width: 70px;
  margin-top: 10px;
}
.logo_section--logo {
  width: 400px;
  margin-left: 20px;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
.logo_section--logo.animated {
  opacity: 1;
  animation: logo-dissolve .8s ease-in 2.8s normal forwards;
}
@keyframes logo-dissolve {
  100% {
    opacity: 0;
  }
}
/* LANG SELECTOR */
.lang_selector {
  display: flex;
  cursor: pointer;
  font-size: 20px;
}
.lang_selector li {
  margin-right: .5rem;
}
.lang_selector li + li {
  margin-left: .5rem;
}
.lang_selector li.selected {
  font-weight: bold;
}
/* MENU */
.menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}
.lang_selector.animated,
.menu.animated {
  opacity: 0;
  animation: element-appear .5s ease-in 2s normal forwards;
}
@keyframes element-appear {
  100% {
    opacity: 1;
  }
}
.menu__list {
  position: absolute;
  top: 100%;
  width: 100px;
  border-left: 2px solid var(--clr-main-dark);
  padding-left: 1.5rem;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: all .2s ease-in;
}
.menu__list.active {
  opacity: 1;
  transform: scaleY(1);
  transition: all .2s ease-in;
}
.menu__link {
  margin-bottom: 1.5rem;
}
.menu__link.home {
  margin-top: 1rem;
}
.menu__link:last-child {
  margin-bottom: 0;
}
.menu__display_closed {
  display: flex;
  width: 60px;
  height: 25px;
  margin-top: .5rem;
  padding: .5rem;
  z-index: 99;
}
.menu__display_closed > .dot {
  background-color: var(--clr-main-dark);
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  opacity: 1;
  transition: all .2s ease-in;
}
/* MENU DOTS ANIMATIONS */
.menu__display_closed > .dot:nth-child(1) {
  transform: translateX(0px);
}
.menu__display_closed > .dot:nth-child(2) {
  transform: translateX(18px);
}
.menu__display_closed > .dot:nth-child(3) {
  transform: translateX(36px);
}
.menu__display_closed:hover > .dot{
  transform: translateX(18px);
  transition: all .2s ease-out;
}
.menu__display_closed.hidden > .dot{
  transform: translateX(18px);
}
/* SLIDES */
.slides {
  line-height: 1.5;
  opacity: 0;
  animation: fade-in-slides .2s ease-in 2.5s normal forwards;
}
@keyframes fade-in-slides {
  100% {
    opacity: 1;
  }
}
.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slide .body-text {
  padding-bottom: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}
.slide span {
  font-weight: 400;
  font-style: italic;
}
.slide .highlight-text {
  font-size: 22px;
}
.slide__columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 var(--margin-large);
}
.slide__columns > .col {
  padding: 1rem 3rem;
  width: 50%;
}
.slide_1, .slide_5 {
  height: calc(100vh - var(--header-height));
}
.slide_2, .slide_3, .slide_4 {
  height: 500px;
}
.slide_1 {
  text-align: center;
}
.slide_1 p:nth-child(1),
.slide_1 p:nth-child(3) {
  font-size: 24px;
  font-weight: 200;
  opacity: 0;
}
.slide_1 p:nth-child(1).animate {
  animation: text-appear .5s ease-in 3.2s normal forwards;
}
.slide_1 p:nth-child(3).animate {
  animation: text-appear .5s ease-in normal forwards;
}
@keyframes text-appear {
  100% {
    opacity: 1;
  }
}
.slide_1 p:nth-child(2),
.slide_1 p:nth-child(4) {
  font-size: 48px;
  font-weight: 600;
  opacity: 0;
}
.slide_1 p:nth-child(2) {
  color: var(--clr-txt-digital-light);
  transform: translateX(-40px);
}
.slide_1 p:nth-child(2).animate {
  animation: text-enter .5s ease-in normal forwards;
}
.slide_1 p:nth-child(4) {
  color: var(--clr-txt-sustainable-light);
  transform: translateX(40px);
}
.slide_1 p:nth-child(4).animate {
  animation: text-enter .5s ease-in normal forwards;
}
@keyframes text-enter {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.closing-text-section {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 24px;
  opacity: 0;
  transform: translateY(80px);
}
.closing-text-section.animate {
  animation: text-ascend .5s ease-in normal forwards;
}
@keyframes text-ascend {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(40px);
  }
}
.title-section {
  margin-bottom: 1.5rem;
}
.title-section__title {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}
.title-section__subtitle {
  font-size: 1.2rem;
  font-size: 24px;
}
.col__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 1.5rem;
}
.col__title a,
.title-section__title a {
  display: inline-block;
}
.col__title a:hover,
.title-section__title a:hover {
  transition: all .2s ease-in;
}
.col__title.clr_digital a:hover,
.title-section__title.clr_digital a:hover {
  color: var(--clr-hover-digital-light);
}
.col__title.clr_sustainable a:hover,
.title-section__title.clr_sustainable a:hover {
  color: var(--clr-hover-sustainable-light);
}
.col__title.text-enter {
  opacity: 0;
  transition: all .5s ease-in;
}
.col__title.enter_right {
  transform: translateX(35px);
}
.col__title.enter_left {
  transform: translateX(-35px);
}
.col__title.text-enter.active {
  transform: translateX(0px);
  opacity: 1;
}
.slide_3,
.slide_3 .title-section__title,
.slide_4,
.slide_4 .title-section__title {
  text-align: left;
}
.slide_3,
.slide_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 100px auto;
}
.slide_3 {
  margin-bottom: 100px;
}
.slide_3 .text-enter,
.slide_4 .text-enter,
.slide_5 .text-enter {
  opacity: 0;
  transition: all .5s ease-in;
}
.slide_3 .text-enter,
.slide_5 .text-enter {
  transform: translateX(-35px);
}
.slide_4 .text-enter {
  transform: translateX(35px);
}
.slide_3 .text-enter.active,
.slide_4 .text-enter.active,
.slide_5 .text-enter.active {
  transform: translateX(0px);
  opacity: 1;
}
/* CONTACTO */
.slide_5 {
  align-items: center;
}
.slide_5 .slide__columns {
  max-width: 75%;
}
.slide_5 iframe {
  width: 350px !important;
  border: none !important;
}
.slide_5 .contact-section i {
  font-size: 2rem;
  width: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* WORK AREAS */
.background {
  position: absolute;
  width: calc(100vw - (var(--margin-medium) * 2));
  height: 100vh;
  background-image: url(../img/dynamics-bg.png);
  background-size: contain;
  margin: 0 var(--margin-medium);
  pointer-events: none;
}
.section-nav,
.body-text > p,
.references {
  padding: 0 var(--margin-large);
}
.section-nav {
  margin-top: 150px;
  text-transform: uppercase;
}
.other-section {
  font-size: 19px;
  font-weight: 100;
}
.other-section-digital {
  color: var(--clr-txt-sustainable-light);
}
.other-section-sustainable {
  color: var(--clr-txt-digital-light);
}
.current-section {
  font-weight: 100;
  font-size: 62px;
  letter-spacing: .7rem;
  margin-left: -.3rem;
}
.current-section-digital {
  color: var(--clr-txt-digital-lighter);
}
.current-section-digital::first-letter {
  color: var(--clr-txt-digital-light);
}
.current-section-sustainable {
  color: var(--clr-txt-sustainable-light);
}
.current-section-sustainable::first-letter {
  color: var(--clr-txt-sustainable-dark);
}
.nav-list {
  display: flex;
}
.nav-link {
  opacity: .7;
  font-size: 16px;
  font-weight: 400;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: opacity .2s ease-in;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link.selected {
  font-weight: 600;
}
.digital-nav-list > .nav-link:nth-child(odd) {
  color: var(--clr-txt-digital-dark);
}
.digital-nav-list > .nav-link:nth-child(even) {
  color: var(--clr-txt-digital-light);
}
.sustainable-nav-list > .nav-link:nth-child(odd) {
  color: var(--clr-txt-sustainable-dark);
}
.sustainable-nav-list > .nav-link:nth-child(even) {
  color: var(--clr-txt-sustainable-light);
}
.current-title {
  font-size: 48px;
  font-weight: 600;
  margin-top: .5rem;
  margin-bottom: .15rem;
  transform: 
            /* skew(-10deg) */
            translateX(35px);
}
.current-title.animate {
  animation: text-slide .2s ease-in forwards;
}
@keyframes text-slide {
  100% {
    transform: 
              /* skew(0) */
              translateX(0);
  }
}
.digital-current-title.clr_scheme_1 {
  color: var(--clr-txt-digital-dark);
}
.digital-current-title.clr_scheme_2 {
  color: var(--clr-txt-digital-light);
}
.sustainable-current-title.clr_scheme_1 {
  color: var(--clr-txt-sustainable-dark);
}
.sustainable-current-title.clr_scheme_2 {
  color: var(--clr-txt-sustainable-light);
}
.body-container {
  display: none;
}
.body-container.current {
  display: block;
}
.body-text {
  margin-top: -.65rem;
}
.body-text.bg_digital_1 {
  background-color: var(--clr-bg-digital-var1);
}
.body-text.bg_digital_2 {
  background-color: var(--clr-bg-digital-var2);
}
.body-text.bg_sustainable_1 {
  background-color: var(--clr-bg-sustainable-var1);
}
.body-text.bg_sustainable_2 {
  background-color: var(--clr-bg-sustainable-var2);
}
.body-text > p,
.references {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1pt;
  padding-top: var(--margin-small);
  padding-bottom: var(--margin-small);
}
.references p:first-child {
  font-size: 19px;
}
.p-divider {
  width: calc(100% - (var(--margin-large) * 2));
  height: 1px;
  background-color: var(--clr-txt-body);
  margin-left: var(--margin-large);
}
.body-text span {
  font-weight: 600;
  font-style: italic;
}
/* OUR TEAM */
.team {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: var(--margin-large);
}
.section_title {
  align-self: flex-start;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.section_title.animate {
  opacity: 0;
  transform: 
            translateX(35px);
  animation: text-slide .2s ease-in forwards;
}
@keyframes text-slide {
100% {
  opacity: 1;
  transform: 
      translateX(0);
  }
}
.team_member {
  display: flex;
  margin-top: 3rem;
}
.team_member .col {
  width: 50%;
}
.col--profile {
  display: flex;
  align-items: flex-start;
}
.col--profile img {
  width: 50%;
  margin-right: 1rem;
  margin-bottom: 5rem;
}
.team_member__name {
  font-size: 24px;
  font-weight: bold;
  padding-top: 0;
  line-height: 1.5;
}
.team_member__role {
  padding-top: .5rem;
  font-size: 19px;
  font-style: italic;
  line-height: 1.5;
}
.team_member__social {
  font-size: 24px;
}
.team_member__social i {
  padding-top: 1rem;
  padding-right: 1rem;
  opacity: .7;
  transition: opacity .2s ease-in;
}
.team_member__social i:hover {
  opacity: 1;
  transition: opacity .2s ease-out;
}
.col--text {
  display: flex;
}
.col--text p {
  width: 80%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20pt;
  letter-spacing: 1pt;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 3rem;
}
.team_member__break {
  width: 100%;
  margin: 3rem 0;
}
/* TEAM DIVIDER */
.team_member_divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2rem;
  width: 100%;
}
.team_member_divider > div {
  display: flex;
  padding: .1rem;
}
.team_member_divider span {
  color: var(--clr-txt-digital-lighter);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0 .2rem;
}
.team_member_divider span.bolden {
  animation: bolden .5s ease-in normal infinite;
}
@keyframes bolden {
  100% {
    font-weight: 400;
    color: var(--clr-txt-digital-light);
  }
}

/* ************* MEDIA QUERIES ************* */
/* Large Monitor Up */
@media screen and (min-width: 1800px) {
  .slide_2, 
  .team {
    padding: 0 300px;
  }
  .col--profile img {
    margin-right: 3rem;
  }
  .col--text p {
    width: 100%;
    padding-left: 3rem;
  }
  .workareas {
    padding-top: 100px;
  }
  .workareas .section-nav,
  .workareas .body-text p {
    padding-left: calc(300px + 3rem);
    padding-right: 0;
  }
  .body-text > p,
  .references {
    max-width: 1300px;
  }
  .p-divider {
    width: 1000px;
    margin-left: calc(300px + 3rem);
  }
  .background {
    width: 100%;
    margin: 0;
  }
}
/* Medium Monitor Down */
@media screen and (max-width: 1200px) {
  
}
/* Tablet Portrait Down */
@media screen and (max-width: 900px) {
  .header {
    padding: 0 var(--margin-medium);
  }
  /* .menu {
    right: var(--margin-medium);
  } */
  .workareas {
    padding-top: 75px;
  }
  .section-nav {
    padding: 0 var(--margin-medium);
  }
  .slide__columns {
    margin: 0 var(--margin-medium);
  }
  .slide__columns > .col {
    padding: 1rem 1.5rem;
  }
  .body-text > p, 
  .references {
    padding: var(--margin-small) var(--margin-medium);
  }
  .p-divider {
    margin-left: var(--margin-medium);
  }
  .team {
    padding: 3rem;
  }
  .team_member {
    flex-direction: column;
  }
  .team_member .col {
    width: 100%;
  }
  .team_member__role {
    padding-top: 0;
  }
  .team_member__social i {
    opacity: 1;
  }
  .col--text {
    justify-content: flex-start;
  }
  .col--text p {
    width: 100%;
    font-size: 24px;
    text-align: left;
    padding-left: 0;
  }
  .col--profile {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .col--profile img {
    width: 300px;
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
  .slide_1 {
    height: 50vh;
  }
  .slide_2 {
    opacity: 0;
    animation: appear 2s ease-in 6s forwards;
  }
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
  .slide_5 .title-section {
    margin-bottom: 0;
  }
}
/* Phone Only */
@media screen and (max-width: 600px) {
  .header {
    padding: 0 var(--margin-small);
  }
  .logo_section.animated {
    transform: 
      translateY(40vh)
      scale(1);
    animation: logo-move-up .3s ease-in 2.7s normal forwards;
  }
  @keyframes logo-move-up {
    100% {
      transform: 
        translateY(0)
        translateX(calc(100% + var(--margin-medium)));
    }
  }
  .logo_section.static {
    transform: translateX(calc(100% + var(--margin-medium)));
  }
  .logo_section--iso {
    width: 50px;
  }
  .logo_section--logo {
    width: 280px;
    animation: logo-dissolve .8s ease-in 1.8s normal forwards;
  }
  .lang_selector.animated {
    opacity: 0;
    animation: element-appear .5s ease-in 3s normal forwards;
  }
  @keyframes element-appear {
    100% {
      opacity: 1;
    }
  }
  .menu {
    position: relative;
    width: 100vw;
    right: 0;
    align-items: stretch;
  }
  .menu__display_closed {
    position: fixed; 
    top: 1rem;
    right: 2rem;
  }
  .menu__display_closed > .dot {
    background-color: transparent;
  }
  .menu__list {
    background-color: var(--clr-bg-light);
    width: 100vw;
    height: 100vh;
    border: none;
    text-align: right;
    padding: 3rem 1rem;
    margin-top: 3.5rem;
    margin-right: -1.5rem;
  }
  .menu__link {
    font-size: 24px;
  }
  .link_home {
    display: block;
  }
  .slides {
    width: 100vw;
    padding: 0 1rem;
  }
  .slide {
    height: auto;
  }
  .slide_1, .slide_5 {
    height: calc(100vh - var(--header-height));
  }
  .slide__columns {
    flex-direction: column;
    margin: 0;
  }
  .slide__columns > .col {
    width: 100%;
    padding: 1rem 0;
  }
  .slide_2, .slide_3, .slide_4 {
    width: 90%;
    padding: 1rem .5rem;
    margin: 0 auto 1rem;
    text-align: left;
  }
  .slide_5 {
    align-items: center;
    text-align: center;
  }
  .slide_5 .title-section__title {
    text-align: left;
  }
  .slide_5 .slide__columns {
    margin: 0;
    max-width: 100%;
  }
  .slide_5 .col--contact {
    padding: 1rem 0;
  }
  .slide_5 .col--signup {
    width: 100vw;
  }
  .slide_5 iframe {
    width: 100vw !important;
    padding: 1rem;
  }
  .title-section__title {
    line-height: 1.2;
  }
  /* TEAM */
  .team {
    padding: 1rem;
  }
  .team_member {
    flex-direction: column;
  }
  .team_member .col {
    width: 100%;
  }
  .team_member__role {
    padding-top: 0;
  }
  .team_member__social i {
    opacity: 1;
  }
  .col--text {
    justify-content: flex-start;
  }
  .col--text p {
    width: 100%;
    font-size: 19px;
    text-align: left;
    padding-left: 0;
  }
  .col--profile {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .col--profile img {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
  /* WORK AREAS */
  .workareas {
    padding-top: 0px;
  }
  .section-nav {
    margin-top: 100px;
    padding: 0 1rem;
  }
  .body-text > p, 
  .references {
    padding: var(--margin-small) 1rem;
  }
  .p-divider {
    width: calc(100% - 2rem);
    margin-left: 1rem;
  }
  .nav-list {
    display: inline-block;
  }
  .nav-link {
    margin: 1rem 0;
  }
  .nav-link:first-child {
    margin-top: 0;
  }
  .current-section {
    font-size: 38px;
    letter-spacing: 0;
  }
  .other-section {
    font-size: 24px;
  }
  .current-title {
    font-size: 32px;
    margin-bottom: .5rem;
  }
  .current-section {
    margin-bottom: 1rem;
  }
}


