<header class="header">
  <div class="logo">
    <h1 class="site-title">DYNAMICS</h1>
    <img class="page_logo" src="./img/dynamics-text.png" alt="DYNAMICS brand logo">
    <a href="./index.html">
      <!-- <img id="page-iso" class="page_iso static" src="img/dynamics-iso.png"> -->
      <img id="page-iso" class="page_iso static" src="./img/logos/iso-header-01.gif">
    </a>
  </div>

  <nav class="menu">
    <!-- <img class="menu__display-arrow" src="img/menu-arrow.png" alt="Menu Display Arrow"> -->
    <div class="menu__display_closed">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    
    <ul class="menu__list">
      <li class="menu__link"><a href="./index.html">
        principal
      </a></li>
      <li class="menu__link"><a href="./team.html">
        equipo
      </a></li>
      <li class="menu__link"><a href="./digital.html">
        áreas de trabajo
      </a></li>
      <li class="menu__link"><a href="https://dynamicmarkets.substack.com/" target="_blank">
        dynamic markets blog
      </a></li>
    </ul>
  </nav>
</header>