<header class="header">

  <ul id="lang_selector" class="lang_selector">
    <li class="select--es">es</li>/<li class="select--en">en</li>
  </ul>

  <div id="logo_section" class="logo_section static">
    <h1 class="site_title">DYNAMICS</h1>

    <div class="logo_section--logo">
      <img src="{{ 'img/dynamics-text.png' | relative_url }}" alt="DYNAMICS brand logo">
    </div>

    <div class="logo_section--iso static">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ 'gifs/ISO+LOGO-DYNAMICS-once.gif' | relative_url }}">
      </a>
    </div>
  </div>

  <nav class="menu">
    <div class="menu__display_closed">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    
    <ul class="menu__list">
      <li class="menu__link translatable_element home" lang="en"><a href="{{ 'en/' | relative_url }}">
        home
      </a></li>
      <li class="menu__link translatable_element" lang="en"><a href="{{ 'en/team' | relative_url }}">
        team
      </a></li>
      <li class="menu__link translatable_element" lang="en"><a href="{{ 'en/digital' | relative_url }}">
        work areas
      </a></li>
      <li class="menu__link"><a href="https://dynamicmarkets.substack.com/" target="_blank">
        dynamic markets blog
      </a></li>
    </ul>
  </nav>
</header>